@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 13px;
  color: var(--bg-contact);
  background-color: #23282e;
}
:root {
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #e2e2de;
  --clr-dark: #1c1c1b;
  --clr-accent: linear-gradient(to right, #afee1d, #54d817);
  --bg-intro: #1c1c1b;
  --bg-about: #6a5d52;
  --bg-skill: #979086;
  --bg-project: #b7ac9b;
  --bg-contact: #e2e2de;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sm: 0.75rem;
}
button {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: var(--fs-body);

  padding: 8px 12px;
  margin: 10px 10px;

  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.4s ease;
  box-shadow: 0 2px 10px rgba(84, 216, 23, 0.3);

  background-image: var(--clr-accent);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(84, 216, 23, 0.4);
}

/* ::-webkit-scrollbar {
  width: 0;
} */

/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  padding-top: 10px;
}

.tab {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(images/bg.png);
  background-size: 50%;
}
.tab .container {
  width: 1140px;
  max-width: 100%;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

/* intro */
#intro {
  background-color: var(--bg-intro);
}
#intro .avatar {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}
.introImg {
  height: 60%;
  filter: saturate(0.5);
}
.introContent {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 500px;
  max-width: 80%;
}
.introContentName,
.introContentJob {
  font-size: 6em;
  font-weight: bold;
  font-family: "Righteous", sans-serif;
  line-height: 1em;
}
.textGradient {
  background-image: var(--clr-accent);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.introContentDes {
  margin-top: 1.2em;
  width: 70%;
}
.introContentDes button {
  margin-top: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.introContentDes button:hover {
  scale: 1.025;
}

/* start cv download */
.cvButton {
  position: relative;
  border-radius: 5px;
  font-size: var(--fs-body);

  padding: 8px 12px;
  margin: 10px 10px;
  margin-bottom: -10px;
  background-color: var(--clr-accent);
  color: var(--bg-intro);

  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  z-index: 1;
  transition: all 0.4s ease;
  box-shadow: 0 2px 10px rgba(84, 216, 23, 0.3);

  display: inline-block;
  background-image: var(--clr-accent); /* Now the gradient will work! */
  background-color: transparent; /* Optional: Remove any fallback color */
}

.cvButton i {
  margin-right: 8px;
}

.hoverEffect {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
  z-index: -1;
}

.cvButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(84, 216, 23, 0.4);
}

.cvButton:hover .hoverEffect {
  left: 100%;
}
/* end cv download */

.introContent i {
  font-size: 10em;
  color: #293b4c;
  position: absolute;
  top: -50px;
  right: -50px;
}
/* end intro */

/* about */
#experience {
  background-color: var(--bg-about);
}
.experienceAboutAndList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.experienceAbout {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 20px;
  flex: 0 0 150px;
  max-width: fit-content;
  padding: 20px;
  background-color: var(--bg-intro);
  color: var(--clr-light);
  position: sticky;
  left: 0;
  top: 0;
  height: fit-content;
  z-index: 10;
}
.listWrapper {
  overflow-x: auto;
}

.experienceAboutTitle {
  font-size: var(--fs-h3);
  font-weight: bold;
  margin-bottom: 10px;
}

.experienceAboutSubtitle {
  font-size: var(--fs-body);
  opacity: 0.8;
}

/* end about */

/* exp */
.expList {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: left;
  padding-left: 50px;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.expItem {
  width: 200px;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: 1fr 50px 1fr;
  gap: 20px;
}

.expItem i {
  background-color: #444b57;
  width: 50px;
  font-size: 2em;
  color: #16222d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.expTime {
  font-size: var(--fs-body);
  display: flex;
  align-items: end;
}

.expJob {
  font-size: var(--fs-h3);
}

.expCompany {
  font-size: var(--fs-h3);
  color: #4adb3d;
}

.expDes {
  font-size: var(--fs-body);
  opacity: 0.7;
}

.expItem:nth-child(odd) .expContent {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.expItem:nth-child(odd) .expTime {
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: start;
}

.expList::before {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #444b57;
  content: "";
  z-index: -1;
}
/* end exp */

/* skill */
#skill {
  background-color: var(--bg-skill);
}
#skill .aboutAndList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.skillAbout {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 20px;
  flex: 0 0 150px;
  max-width: 100%;
  padding: 20px;
  background-color: var(--bg-about);
  color: var(--clr-light);
  position: sticky;
  left: 0;
  top: 0;
  height: fit-content; /* Or you can control height */
  z-index: 10;
}
.skillAboutTitle {
  font-size: var(--fs-h3);
  font-weight: bold;
  margin-bottom: 10px;
}
.skillAboutSubtitle {
  font-size: var(--fs-body);
  opacity: 0.8;
}

.skillList {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  box-sizing: border-box;
  gap: 0;
  overflow-x: auto;
}

.skillItem {
  display: flex;
  padding: 20px;
}

.skillContainer i {
  width: 50px;
  height: 50px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillTitle {
  font-size: var(--fs-h3);
}
.skillParagraph {
  font-size: var(--fs-body);
}
/* end skill */

/* project */
#project {
  background-color: var(--bg-project);
  color: var(--clr-dark);
}

.projectList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
}

.projectList .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.projectList .item {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.projIndex {
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  transform: translateY(-100%);
  background-color: #fff;
  padding: 10px;
  font-style: italic;
  border-top-right-radius: 20px;
}

.projName {
  font-weight: bold;
  font-size: large;
  padding: 10px;
}

.projDes {
  padding: 0 10px 10px 10px;
  font-size: small;
}

.projAuthor {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #eee;
}
.projJob {
  font-weight: bold;
}

#project .container {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
}

/* link section */

.item {
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%;
  display: block;
}

.projLinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  gap: 20px;
  transition: opacity 0.3s ease;
}

.projLinks a {
  color: white;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
}

.projLinks a:hover {
  background-color: rgba(49, 147, 177, 0.5);
  transform: scale(1.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.imageContainer:hover .projLinks {
  opacity: 1;
}

/* end project */

/* contact */
#contact {
  background-color: var(--bg-contact);
  color: var(--clr-dark);
}

#contact .thank {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.contactDes {
  width: 500px;
  max-width: 80%;
  text-align: center;
}

.contactDes button {
  margin-top: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contactDes button:hover {
  scale: 1.025;
}

.contactList {
  text-align: center;
}

.contactListItem {
  display: inline-block;
  margin: 10px 30px;
}
/* end contact */

/* responsiveness */
@media screen and (max-width: 991px) {
  .introImg {
    transform: translateX(200px);
  }
  .textGradient {
    background-image: var(--clr-accent);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }

  button {
    font-size: var(--fs-body);
    padding: 4px 8px;
    margin: 10px 0px;
  }

  #intro {
    background-color: var(--bg-intro);
  }

  .introImg {
    transform: none;
  }

  .introContent {
    left: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  }
  .introContentName {
    font-size: 4em;
  }
  .introContentJob {
    font-size: 6em;
  }

  .textGradient {
    background-image: var(--clr-accent);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: none;
  }

  .introContentDes {
    text-shadow: none;
    font-size: 1.5em;
    background-color: var(--bg-intro);
    color: var(--clr-light);
    padding: 10px 10px 10px 0;
  }

  .introContent i {
    position: unset;
    display: none;
  }
  .experienceAbout {
    flex: 0 0 180px;
  }
  .skillList {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .projectList {
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .projectList .item img {
    height: 100px;
  }
  .projectList .item {
    margin-top: 15px;
  }
}
@media screen and (max-width: 431px) {
  .introContent {
    margin: 40px 0 0 0;
  }
  .introContentName {
    font-size: 5em;
  }
  .introContentJob {
    font-size: 6em;
  }
  .experienceAboutAndList {
    margin: 20px 0 0 0;
  }
  .experienceAboutTitle {
    font-size: var(--fs-body);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .experienceAboutSubtitle {
    font-size: var(--fs-sm);
    opacity: 0.8;
  }
  .expTime {
    font-size: var(--fs-sm);
    display: flex;
    align-items: end;
  }

  .expJob {
    font-size: var(--fs-sm);
  }

  .expCompany {
    font-size: var(--fs-sm);
    color: #4adb3d;
  }

  .expDes {
    font-size: var(--fs-sm);
    opacity: 0.7;
  }
  .aboutAndList {
    margin: 20px 0 0 0;
    max-width: fit-content;
  }
  .projectList {
    margin: 20px 0 0 0;
  }
  .projLinks {
    opacity: 1;
  }
  .skillAbout {
    max-width: fit-content;
  }
}

/* effect */
.tab {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1;
}
#intro {
  z-index: 2;
}

.tab .active {
  --x: 50%;
  --y: 50%;
  clip-path: circle(150vmax at var(--x) var(--y));
  animation: showTab 1s ease-in-out 1;
}
@keyframes showTab {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
}
